{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
Elementary Vocabulary 2
{% endblock  %}


{% block content %}



<h2 class="title__title">
VOCABULARY
</h2>

	<h3 class="title__title">
1	Complete the phrases with the correct word.
</h3>
<div class="col-md-11 space_text">	
<div class="p__border">
<p>
exercise   listen   lunch   play   eat   go   glasses   flat   smoke
</p>
</div>
<p>
Example:	play the guitar
</p>
<p>
1 &emsp;	__________ a cigarette
</p>
<p>
2 &emsp;	__________ fast food
</p>
<p>
3 &emsp;	do __________
</p>
<p>
4 &emsp;	have a sandwich for __________
</p>
<p>
5 &emsp;	__________ to the cinema
</p>
<p>
6 &emsp;	__________ to the radio
</p>
<p>
7 &emsp;	live in a __________
</p>
<p>
8 &emsp;	wear __________
</p>
</div>


<h3 class="title__title">
2	Write the jobs.
</h3>

<div class="col-md-11 space_text">
	<p>
Example:	I work for a newspaper. I’m a journalist.
</p>
<p>
1 &emsp;	I work in a school. I’m a t__________.
</p>
<p>
2 &emsp;	I work in an office or a hotel. I’m a r__________.
</p>
<p>
3 &emsp;	I work in the theatre. I’m an a__________.
</p>
<p>
4 &emsp;	I work in a hospital. I’m not a doctor. I’m a n__________.
</p>
<p>
5 &emsp;	I work in a restaurant. I’m a w__________.
</p>
<p>
6 &emsp;	I’m at university. I’m a s__________.
</p>
<p></p>
</div>

<h3 class="title__title">
3	Complete the sentences about the family tree.
</h3>



<div class="col-md-11 space_text table_text_borders_relative">

<div class="table_text_borders_absolute">
	<p class="p_center">John = Mary</p>
	<span class="bd_g_line_0"></span>
	<span class="bd_ver_line_1"></span>
	<span class="bd_ver_line_2"></span>
	<span class="bd_ver_line_3"></span>

	<p class="p_table_lvl_1">Mike  =  Sue &emsp;&emsp;	Paul &emsp;&emsp;	Helen = Jack</p>

	<span class="bd_ver_line_1_2"></span>
	<span class="bd_g_line_1"></span>
	<span class="bd_g_line_2"></span>
	<span class="bd_ver_line_4"></span>
	<span class="bd_ver_line_5"></span>

	<span class="bd_ver_line_1_3"></span>
	<span class="bd_ver_line_1_4"></span>
	<span class="bd_ver_line_1_5"></span>	

	<p class="p_table_lvl_2">Tom &emsp;	David	&emsp; Sally &emsp; &emsp; &emsp;	Sam	&emsp; Tina</p>
</div>
</div>

<div class="col-md-11 space_text">
<p class="table_text_borders_top_margin">
Example:	John is Mary’s husband.
</p>

<p>
1 &emsp;	Helen is John’s ________________.
</p>
<p>
2 &emsp;	David is Sam’s ________________.
</p>
<p>
3 &emsp;	Mike is Sally’s ________________.
</p>
<p>
4 &emsp;	Sally is Jack’s ________________.
</p>
<p>
5 &emsp;	Mary is Tina’s ________________.
</p>
<p>
6 &emsp;	Tom is Paul’s ________________.
</p>

</div> 




{% endblock %}