{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
Elementary Vocabulary 1
{% endblock  %}


{% block content %}
<h2 class="title__title">
	VOCABULARY 1
</h2>

<h3 class="title__title">
	1&emsp; &emsp;   Complete the lists with the correct word. 
</h3>
<p>
	Example:	two, four, six, eight
</p>
<p>
	nine   eight   ten
</p>

<div class="col-md-11 space_text">
	<p>
		1 &emsp;	Monday, Tuesday, Wednesday, __________.
	</p>
	<p>
		<span class="space_left">Saturday   Thursday   Friday</span>
	</p>
	<p>
		2 &emsp;	thirty-seven, thirty-eight, thirty-nine, __________.
	</p>
	<p>
		<span class="space_left">forty   sixty   fifty</span>
	</p>
	<p>
		3 &emsp;	sixty, seventy, eighty, __________.
	</p>
	<p>
		<span class="space_left">one hundred   one thousand   ninety</span>
	</p>
	<p>
		4 &emsp;	Saturday, Sunday, Monday, __________.
	</p>
	<p>
		<span class="space_left">Wednesday   Friday   Tuesday</span>
	</p>
	<p>
		5 &emsp;	fifteen, twenty, twenty-five, __________.
	</p>
	<p>
		<span class="space_left">thirty   thirty-five   thirteen</span>
	</p>
	<p>
		6 &emsp;	seven, eight, nine, __________.
	</p>
	<p>
		<span class="space_left">eleven   ten   twelve</span>
	</p>

</div>


<h3 class="title__title">
	2	Complete the chart.
</h3>

<div class="col-md-11 space_text">
	<p>
	Example:	Japan   Japanese
	</p>
<p>
	1 &emsp;	the United States	___________
</p>

	<p>
	2 &emsp;	Germany 	___________
</p>

	<p>
	3 &emsp;	___________	Italian
</p>

	<p>
	4 &emsp;	France 	___________
</p>

	<p>
	5 &emsp;	___________	Chinese
</p>

	<p>
	6 &emsp;	___________	Brazilian
</p>

	
</div>


<h3 class="title__title">
	3	Complete the phrases with the correct verbs.
</h3>

<div class="col-md-11 space_text">
	<p class="space_text">
	Listen   Sit   Go   Open   Look   speak   Close   Stand   Turn
	</p>
	<p>
	Example: &emsp;	Open your books.
</p>
	<p>
	1 &emsp;	__________ at the board.
</p>
	<p>
	2 &emsp;	__________ the door.
</p>
	<p>
	3 &emsp;	__________ off your mobile.
</p>
	<p>
	4 &emsp;	__________ up.
</p>
	<p>
	5 &emsp;	Don’t __________ Spanish.
</p>
	<p>
	6 &emsp;	__________ to page 84.
</p>
	<p>
	7 &emsp;	__________ down.
</p>
	<p>
	8 &emsp;	__________ and repeat.
</p>

</div>




{% endblock %}