{% extends 'school/base_school.html' %}

{% block title %}
Elementary
{% endblock %}

{% block content %}
<div class="col-md-12 bgc_elementary">
<div class="container">
	<div class="row row-cols-2">


<div class="col-md-5 elm_model_window">
      <a href="#open_modal" class="href_modal hvr-grow-shadow elementary">Grammar</a>
      <div id="open_modal" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="{% url 'gram_1_url' %}">Grammar 1</a>
          <a class="dropdown_item" href="{% url 'gram_2_url' %}">Grammar 2</a>
          <a class="dropdown_item" href="{% url 'gram_3_url' %}">Grammar 3</a>
          <a class="dropdown_item" href="{% url 'gram_4_url' %}">Grammar 4</a>
          <a class="dropdown_item" href="{% url 'gram_5_url' %}">Grammar 5</a>
          <a class="dropdown_item" href="{% url 'gram_6_url' %}">Grammar 6</a>
          <a class="dropdown_item" href="{% url 'gram_7_url' %}">Grammar 7</a>
          <a class="dropdown_item" href="{% url 'gram_8_url' %}">Grammar 8</a>
        </div>
      </div>
    </div>

<div class="col-md-5 elm_model_window">
      <a href="#open_modal_2" class="href_modal hvr-grow-shadow elementary">Vocabulary</a>
      <div id="open_modal_2" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="{% url 'vocabulary_1_url' %}">Vocabulary 1</a>
          <a class="dropdown_item" href="{% url 'vocabulary_2_url' %}">Vocabulary 2</a>
          <a class="dropdown_item" href="#">Vocabulary 3</a>
          <a class="dropdown_item" href="#">Vocabulary 4</a>
          <a class="dropdown_item" href="#">Vocabulary 5</a>
          <a class="dropdown_item" href="#">Vocabulary 6</a>
          <a class="dropdown_item" href="#">Vocabulary 7</a>
        </div>
      </div>
    </div>

  <div class="col-md-5 elm_model_window">
      <a href="#open_modal_3" class="href_modal hvr-grow-shadow elementary">Reading</a>
      <div id="open_modal_3" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="#">text 1</a>
          <a class="dropdown_item" href="#">text 2</a>
          <a class="dropdown_item" href="#">text 3</a>
          <a class="dropdown_item" href="#">text 4</a>
          <a class="dropdown_item" href="#">text 5</a>
          <a class="dropdown_item" href="#">text 6</a>
          <a class="dropdown_item" href="#">text 7</a>
        </div>
      </div>
    </div>


      <div class="col-md-5 elm_model_window">
      <a href="#open_modal_4" class="href_modal hvr-grow-shadow elementary">Listening</a>
      <div id="open_modal_4" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="{% url 'elm_1_url' %}">Listening 1</a>
          <a class="dropdown_item" href="#">Listening 2</a>
          <a class="dropdown_item" href="#">Listening 3</a>
          <a class="dropdown_item" href="#">Listening 4</a>
          <a class="dropdown_item" href="#">Listening 5</a>
          <a class="dropdown_item" href="#">Listening 6</a>
          <a class="dropdown_item" href="#">Listening 7</a>
        </div>
      </div>
    </div>

      <div class="col-md-5 elm_model_window">
      <a href="#open_modal_5" class="href_modal hvr-grow-shadow elementary">Test</a>
      <div id="open_modal_5" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="#">text 1</a>
          <a class="dropdown_item" href="#">text 2</a>
          <a class="dropdown_item" href="#">text 3</a>
          <a class="dropdown_item" href="#">text 4</a>
          <a class="dropdown_item" href="#">text 5</a>
          <a class="dropdown_item" href="#">text 6</a>
          <a class="dropdown_item" href="#">text 7</a>
        </div>
      </div>
    </div>
		
	</div>
</div>
</div>
{% endblock %}