{% extends 'school/base_school.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}


Уважаемые студенты школы Inter Global!
<p>Как вы знаете, на своих занятиях мы используем базовые учебники English
	Files 3rd Edition. На наш взгляд, это самый эффективный курс развития всех
	языковых навыков на сегодняшний день. И чтобы сделать процесс вашего
	изучения языка еще более эффективным, мы создали подборку
	дополнительных ресурсов, которые помогут вам стать более независимым пользователем этого курса. 
</p>
<p>
	Предлагаем вашему вниманию:<br/>
	•	<a href="https://drive.google.com/open?id=1_nu7y48jrBDjSdaymefweAA3p3cxSy3E" target="blank">Ссылка</a> на скачивание i-tutor и i-chеcker  - интерактивное приложение к каждому уровню на диcке, 
	где вы найдете все аудиофайлы курса и некоторые задания по грамматике и  упражнения на отработку словарного запаса
</p>
<p>
	•	Возможно, вам понадобится установить <a href="https://www.daemon-tools.cc/rus/home/" target="blank">программу</a>, которая позволит открыть эти диски
</p>
<p>
	•	<a href="https://elt.oup.com/student/englishfile/?cc=kz&selLanguage=en" target="blank">Ссылки</a> на дополненные грамматические, лексические и фонетические задания и упражнения на сайте разработчика нашего курса 
</p>
<p>
	•	Дополнительные тексты для <a href="">чтения</a> и задания на  <a href="">аудирование</a> для тех, кто не хочет ограничиваться только материалами курса
</p>
<p>
	•	Дополнительные <a href="">тесты</a> для тех, кто хочет еще раз протестировать обретенные знания
</p>



{% endblock %}