{% extends 'school/base_school.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row row-cols-2">


		<div class="col-md-5 elm_model_window">
			<button id="myBtn_Reading" class="btn_modal hvr-underline-from-center">
				Open Model
			</button>
			<div id="MyModel_Reading" class="model">
				<div class="model_content">
					<span class="close">&times;</span>
					<a class="dropdown_item" href="#">text 1</a>
					<a class="dropdown_item" href="#">text 2</a>
					<a class="dropdown_item" href="#">text 3</a>
					<a class="dropdown_item" href="#">text 4</a>
					<a class="dropdown_item" href="#">text 5</a>
					<a class="dropdown_item" href="#">text 6</a>
					<a class="dropdown_item" href="#">

    <audio controls>
    <source src="{% static 'media/audio/02 File 1 L1.mp3' %}" type="audio/ogg; codecs=vorbis">
    <source src="{% static 'media/audio/02 File 1 L1.mp3' %}" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
    <a href="{% static 'media/audio/02 File 1 L1.mp3' %}">Скачайте музыку</a>.
  </audio>

					</a> 
				</div>
			</div>
		</div>



		<div class="col-md-5 elm_model_window">
			<a href="#open_modal_2" class="href_modal hvr-underline-from-center">Lisining</a>
			<div id="open_modal_2" class="modalDialog">
				<div>
					<a href="#close" title="Закрыть" class="close_2">&times;</a>
					<a class="dropdown_item" href="#">

    <audio controls>
    <source src="{% static 'media/audio/02 File 1 L1.mp3' %}" type="audio/ogg; codecs=vorbis">
    <source src="{% static 'media/audio/02 File 1 L1.mp3' %}" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
    <a href="{% static 'media/audio/02 File 1 L1.mp3' %}">Скачайте музыку</a>.
  </audio>
					</a>
					<a class="dropdown_item" href="#">text 2</a>
					<a class="dropdown_item" href="#">text 3</a>
					<a class="dropdown_item" href="#">text 4</a>
					<a class="dropdown_item" href="#">text 5</a>
					<a class="dropdown_item" href="#">text 6</a>
					<a class="dropdown_item" href="#">text 7</a>
				</div>
			</div>
		</div>

		<div class="col-md-5 elm_model_window">
			<a href="#open_modal_3" class="href_modal hvr-underline-from-center">Lisining</a>
			<div id="open_modal_3" class="modalDialog">
				<div>
					<a href="#close" title="Закрыть" class="close_2">&times;</a>
					<a class="dropdown_item" href="#">text 1</a>
					<a class="dropdown_item" href="#">text 2</a>
					<a class="dropdown_item" href="#">text 3</a>
					<a class="dropdown_item" href="#">text 4</a>
					<a class="dropdown_item" href="#">text 5</a>
					<a class="dropdown_item" href="#">text 6</a>
					<a class="dropdown_item" href="#">text 7</a>
				</div>
			</div>
		</div>


		<div class="col-md-5 elm_model_window">
			<a href="#open_modal_4" class="href_modal hvr-underline-from-center">Lisining hm..</a>

			<div id="open_modal_4" class="modalDialog d">
				<div>
					<a href="#close" title="Закрыть" class="close_2">&times;</a>

					<a class="dropdown_item" href="#">text 1</a>
					<a class="dropdown_item" href="#">text 2</a>
					<a class="dropdown_item" href="#">text 3</a>
					<a class="dropdown_item" href="#">text 4</a>
					<a class="dropdown_item" href="#">Не текст пять</a>
				</div>
			</div>
		</div>

		<div class="col-md-5 elm_model_window">
			<!-- <a href="#open_modal" class="href_modal hvr-grow-shadow pre-intermediate">Lisining</a> -->


    <audio controls>
    <source src="{% static 'media/audio/02 File 1 L1.mp3' %}" type="audio/ogg; codecs=vorbis">
    <source src="{% static 'media/audio/02 File 1 L1.mp3' %}" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
    <a href="{% static 'media/audio/02 File 1 L1.mp3' %}">Скачайте музыку</a>.
  </audio>

	
		</div>
	</div>
</div>
</div>

{% endblock %}
