{% extends 'school/base_school.html' %}

{% block title %}
		Pre
{% endblock %}

{% block content %}
<div class="container">
	<div class="row row-cols-2">


<div class="col-md-5 elm_model_window">
      <a href="#open_modal" class="href_modal hvr-grow-shadow pre-intermediate">Vocabulary</a>
      <div id="open_modal" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="#">text 1</a>
          <a class="dropdown_item" href="#">text 2</a>
          <a class="dropdown_item" href="#">text 3</a>
          <a class="dropdown_item" href="#">text 4</a>
          <a class="dropdown_item" href="#">text 5</a>
          <a class="dropdown_item" href="#">text 6</a>
          <a class="dropdown_item" href="#">text 7</a>
        </div>
      </div>
    </div>

<div class="col-md-5 elm_model_window">
      <a href="#open_modal" class="href_modal hvr-grow-shadow pre-intermediate">Lisining</a>
      <div id="open_modal" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="#">text 1</a>
          <a class="dropdown_item" href="#">text 2</a>
          <a class="dropdown_item" href="#">text 3</a>
          <a class="dropdown_item" href="#">text 4</a>
          <a class="dropdown_item" href="#">text 5</a>
          <a class="dropdown_item" href="#">text 6</a>
          <a class="dropdown_item" href="#">text 7</a>
        </div>
      </div>
    </div>

  <div class="col-md-5 elm_model_window">
      <a href="#open_modal" class="href_modal hvr-grow-shadow pre-intermediate">Lisining</a>
      <div id="open_modal" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="#">text 1</a>
          <a class="dropdown_item" href="#">text 2</a>
          <a class="dropdown_item" href="#">text 3</a>
          <a class="dropdown_item" href="#">text 4</a>
          <a class="dropdown_item" href="#">text 5</a>
          <a class="dropdown_item" href="#">text 6</a>
          <a class="dropdown_item" href="#">text 7</a>
        </div>
      </div>
    </div>


      <div class="col-md-5 elm_model_window">
      <a href="#open_modal" class="href_modal hvr-grow-shadow pre-intermediate">Lisining</a>
      <div id="open_modal" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="#">text 1</a>
          <a class="dropdown_item" href="#">text 2</a>
          <a class="dropdown_item" href="#">text 3</a>
          <a class="dropdown_item" href="#">text 4</a>
          <a class="dropdown_item" href="#">text 5</a>
          <a class="dropdown_item" href="#">text 6</a>
          <a class="dropdown_item" href="#">text 7</a>
        </div>
      </div>
    </div>

      <div class="col-md-5 elm_model_window">
      <a href="#open_modal" class="href_modal hvr-grow-shadow pre-intermediate">Lisining</a>
      <div id="open_modal" class="modalDialog">
        <div>
          <a href="#close" title="Закрыть" class="close_2">&times;</a>
          <a class="dropdown_item" href="#">text 1</a>
          <a class="dropdown_item" href="#">text 2</a>
          <a class="dropdown_item" href="#">text 3</a>
          <a class="dropdown_item" href="#">text 4</a>
          <a class="dropdown_item" href="#">text 5</a>
          <a class="dropdown_item" href="#">text 6</a>
          <a class="dropdown_item" href="#">text 7</a>
        </div>
      </div>
    </div>




	</div>
</div>

{% endblock %}