*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	 border: red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
/*======================================
                  TOP LINE
  ======================================
  */

  .header_topline{
  	background-color: #43484C;
  	padding: 15px 0;
  	color: #fff;
  }
  .header_topline a{
  	color: #fff;
  }
  .top_links{
  	display: inline-block;
  	vertical-align: middle;
  	z-index: 10;
  }
  .top_links a{
  	text-decoration: underline;
  }
  .top_links a:hover{
  	text-decoration: none;
  }
  .soc_buttons{
  	float: right;
  }
  .soc_buttons > a{
  	font-size: 26px;
  	margin-left: 8px;
  }
  .auth_buttons,
  .main_mnu_button
  {
  	border: none;
  	background-color: transparent;
  	font-size: 26px;
  }
  .main_mnu_button{
  	color: #fff;
  	padding: 8px 15px 0 15px;
  }
  .top_header{
  	background-color: #4AAAD2;
  }
/*
======================================
             Logo
======================================
*/
.logo {
	display: block;
	padding: 15px 0;
	color: #fff;
	font-family: "NautilusPompiliusRegular";
	font-size: 42px;
	text-align: center;
}
/*
======================================
         Menu/Contacts
======================================
*/

.main_menu{
	background-color: #3797bf;
	color: #fff;
	margin-bottom: 20px;
}
.main_menu a {
	color: #fff;
	padding: 15px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.main_menu a:hover{
	background-color: #2787af;
}
.main_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
	z-index: 10;
}
.main_menu ul li {
	display: inline-block;
}
.top_contacts {
	float: right;
	font-size: 32px;
	padding: 0 15px;
	background-color: #2787af;
	line-height: 53px;
}
/*
==================================
            Slide
==================================
*/
h1{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
}
.lsider_container {
	position: relative;
}
.lsider_container img {
	max-width: 100%;
}
.next_button,
.prev_button {
	color: #fff;
	font-size: 46px;
	position: absolute;
	z-index: 10;
	cursor: pointer;  
	top: 40%;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 0 25px;
	border-radius: 10em;
}
.prev_button:hover {
	background-color: rgba(255, 255, 255, 0.20);
}
.next_button:hover {
	background-color: rgba(255, 255, 255, 0.20);
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
/*
========================================
             Order 
========================================
*/
section.order {
	background-color: #eee;
	padding: 25px 0;
}
.sell_description {
	font-size: 22px;
	padding-top: 5px;
}
.button {
	display: block;
	border: none;
	background-color: #2BC6A4;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
}
.button:hover {
	background-color: #4feac8;
}
.button:active {
	background-color: #14af8d;
}
.sell_right .button{
	float: right;
}
/*
======================
  Всплывающее окно
======================
*/
.hidden {
	display: none;
}
.pop_form input[type=text] {
	display: block;
	width: 90%;
	line-height: 24px;
	margin-bottom: 10px;
	margin: 0 auto 12px;
	border: #999 3px solid;
}
.pop_form .button {
	margin: 20px auto 0;
}
.pop_form h3 {
	margin: 10px auto 15px;
	text-align: center;
	font-weight: normal;
	font-family: RobotoCondensedBold;
	text-transform: uppercase;
}
/*
=================================
            Content
=================================
*/
.blog_item img{
	max-width: 100%;
	margin-bottom: 20px;
}
.blog_item h3 {
	text-transform: uppercase;
	font-family: RobotoCondensedRegular;
	margin-bottom: 10px;
}
.blog_item h3 a {
	text-decoration: underline;
}
.blog_item p {
	margin-top: 0;
}
/*
=================================
             Aside
=================================
*/
.right_aside {
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #EEEEEE;
	margin-top: 30px;
}
.right_aside a:hover {
 color: #8fafc9;
}