html, body {
	height: 100%;
	margin: 0;
}

input { border: none; outline: none; }
button { border: none; outline: none; }

p {
	font-family: 'Baloo 2', cursive;
	font-family: 'Work Sans', sans-serif;
	font-size: 17px;	
}
h1,h2,h3,h4,h5 {
	margin: 20px 0;

	font-family: 'Baloo 2', cursive;
	font-family: 'Work Sans', sans-serif;
	font-size: 17px;
}
.title__title {
	margin-bottom: 40px;
}
.space_text {
	margin-bottom: 80px;
}
.space_left {
	padding-left: 39px;
}
.p__border {
	border: 1px solid #212529;
	padding: 10px;
	display: block;
	max-width: 350px;
	margin: 40px 0;
}

.p__border_big_block {
	border: 1px solid #212529;
	padding: 20px;
}
.p__border_tithout_padding {
 	border: 1px solid #212529;
 	width: 250px;
 	text-align: center;
 	margin-bottom: 20px;s
}
.p__border_tithout_padding> p {
	margin: 0;
}
/*
		table block

*/
		.table_text_borders_relative {
			position: relative;
			margin-bottom: 110px;
		}
		.table_text_borders_absolute {
			position: absolute;
			margin-bottom: 40px;
			left: 30px;
		}
		.table_text_borders_top_margin {
			padding-top: 100px;
		}
		.p_center {
			text-align: center;
			padding: 0 0 15px 0;
		}
		.p_table_lvl_1 {
			padding-bottom: 20px;
			padding-left: 30px;
		}
		.p_table_lvl_2 {
		}

		.bd_g_line_0 {
			position: absolute;
			border-bottom: 1px solid #212529;
			min-width: 60%;
			height: 2px;
			top: 38px;
			left: 55.5px;
		}
		.bd_ver_line_1 {
			position: absolute;
			border-left: 1px solid #212529;
			top: 28px;
			left: 50%;
			height: 25px;
		}
		.bd_ver_line_2 {
			position: absolute;
			border-left: 1px solid #212529;
			top: 40px;
			left: 15.5%;
			height: 12px;
		}
		.bd_ver_line_3 {
			position: absolute;
			border-left: 1px solid #212529;
			top: 40px;
			right: 24.3%;
			height: 12px;
		}

		.bd_ver_line_1_2 {
			position: absolute;
			border-left: 1px solid #212529;
			top: 95px;
			left: 24%;
			height: 25px;
		}

		.bd_ver_line_1_3 {
			position: absolute;
			border-left: 1px solid #212529;
			top: 106px;
			left: 75.8%;
			height: 12px;
		}
		.bd_ver_line_1_4 {
			position: absolute;
			border-left: 1px solid #212529;
			top: 106px;
			right: 4%;
			height: 12px;
		}

		.bd_ver_line_1_5 {
			position: absolute;
			border-left: 1px solid #212529;
			top: 95px;
			right: 14%;
			height: 12px;
		}

		.bd_ver_line_4 {
			position: absolute;
			border-left: 1px solid #212529;
			top: 106px;
			left: 5.6%;
			height: 12px;
		}
		.bd_ver_line_5 {
			position: absolute;
			border-left: 1px solid #212529;
			top: 106px;
			left: 45%;
			height: 12px;
		}
		.bd_g_line_1 {
			position: absolute;
			border-bottom: 1px solid #212529;
			min-width: 39.6%;
			height: 2px;
			top: 105px;
			left: 20px;
		}
		.bd_g_line_2 {
			position: absolute;
			border-bottom: 1px solid #212529;
			min-width: 20%;
			height: 2px;
			top: 105px;
			right: 15px;
		}

/*
		table block end

*/		

.uanderline_text {
	border-bottom: 1px solid #212529;
}

/*
===============================================
								Stuctuure
===============================================		
*/
.wrapper {
	min-height: 100%;
	/*	position: relative;*/
}
.all {
	/*padding: 20px;*/
	padding-bottom:s 50px;
	min-height: 500px;
	background-color: #f2f2f2;
/*	padding-top: 30px;
padding-bottom: 50px;*/
}
.footer {
	height: 50px;
	margin-top: -50px;
	background-color: #22252D;
	color: #fff;
	border-top: 2px solid #d36363;

}



/*
==============================================
									Head
==============================================
*/
.header_line {
	border-bottom: 1px solid #d36363;
	height: 50px;
	background-color: #22252D;
}

.login_wrap {
	color: #fff;
	margin-top: 10px;
}
.login_wrap a {
	color: #fff;
	font-size: 18px;
	font-family: 'Baloo 2', cursive;
	font-family: 'Work Sans', sans-serif;
} 
.login_wrap a:hover {
	color: #fff;
	text-decoration: underline;
}
.insta {
	color: #fff;
	text-align: right;
}
.insta a {
	color: #fff;
	font-size: 30px;
	transition: 0.1s;
}
.insta a:hover {
	color: #eff7fc;
}

.log_title {
	font-size: 27px;
	margin-top: 20px;
	color: #22252D;
}
.upper {
	font-size: 36px;
	font-family: 'Baloo 2', cursive;
}
.logo_img a {
	margin: 0;
}
/*
===============================================
								Search	
===============================================
*/
.line_search {
	background-color: #34ADFE;
	height: 90px;
	color: #fff;
	border-bottom: 1px solid #d36363;
	text-align: right;
}

.search {
	margin-top: 30px;
	line-height: 10px;
}
.input_search {

	border-radius: 5px;
	padding: 5px;
}
.btn_search {
	background-color: #34ADFE;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	border: 1px solid #d36363;
	font-family: 'Baloo 2', cursive;
	font-family: 'Work Sans', sans-serif;
	transition: 0.2s;
}
.btn_search:hover {
	border: 1px solid #d36363;
	background-color: #22252D;
	color: #fff;
}

/*
================================================
									Nav_bar
================================================
*/
.nav {
	color: #fff;
	padding: 0;
	margin-top: 10px;
}
.nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
}
.nav li {
	list-style-type: none;
	display: block;
	text-align: center;
	color: #3CA4D1;
}
.nav a {
	color: #fff;
	background-color: #34ADFE;
	display: block;
	text-decoration: none;
	padding: 10px;
	font-family: 'Baloo 2', cursive;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	transition: 0.1s;
}
.nav a:first-child {
	border-top: 1px solid #d36363;
}
.nav a:hover {
	background-color: #22252D;
	color: #fff;
	/*border: 1px solid #d36363;*/
}



/*
==============================================
								buttons and dropdown						
==============================================
*/

.elm_dropdown {
	/*	background-color: #369;*/
	/*border: 1px solid #C82333;*/
	border-radius: 5px;
	margin: 5px;
	color: #fff;
	padding: 20px;
}
.btn {
	padding: 10px 30px;
}

/*
================================================
							Posision center ares
================================================
*/

.all_content {
	margin-bottom: 50px;
}
.block_center_content { 
	padding: 50px 0 100px 70px;
	border-left: 1px solid #d36363;
	background-color: #fff;
	min-height: 100%;

}



/*
===============================================
							Modal Window
===============================================
*/

.elm_model_window {
	margin: 15px;
	height: 90px;
	text-align: center;
	padding: 0;
}


.btn_modal {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 5px;
	color: #000;
}

.dropdown_item {
	text-decoration: none;
	display: inline-block;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #fff;
	font-size: 22px;
	font-family: 'Baloo 2', cursive;
	font-family: 'Work Sans', sans-serif;
	border: 1px solid #edf1f4;
	border-radius: 5px;
	margin: 3px;
	color: #fff;
	transition: 0.1s;
	background-color: #FD6677;
}

.dropdown_item:hover {
	text-decoration: none;
	background-color: #f98692;
	border: 1px solid #c2cace;
	color: #fff;
}


.model {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);

}

.model_content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border-right: 1px solid #888;
	border-radius: 5px;
	width: 40%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;

}
.close:hover {
	cursor: pointer;
}



/*
=====================================
						And CSS Modal
=====================================
*/


.modalDialog {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);
}


.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog> div {
	width: 400px;
	position: relative;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border-right: 1px solid #888;
	border-radius: 5px;
	width: 40%;
}

.close_2 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;

}
.close_2:hover {
	text-decoration: none;
	color: #352f2f;
}

.href_modal {
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	line-height: 90px;
	font-family: 'Baloo 2', cursive;
	font-family: 'Work Sans', sans-serif;
	font-size: 22px;	
}

.href_modal:hover {
	color: #000;
	text-decoration: none;
}


/*
========================
	Colors for levels
========================
*/

.bgc_elementary {
	background-image: url(../../static/img/bgc_elm_2_2_2_2.png) ;
	-webkit-background-size: 300px 550px ;
	background-size: 300px 550px ;
	background-position:  right bottom;
	background-repeat: no-repeat;		
	min-height: 400px;
} 

.elementary {
	/*	background: linear-gradient(to right,#ef0029, #FD283E, #FF8880);*/
	background-color: #ef0029;
	color: #fff;	
	opacity: .7;	
}

.elementary:hover {
	color: #fff;
}

.intermediate {
	background: linear-gradient(#00B930,  #54C130);
	opacity: .7;
	color: #fff;
}
.intermediate:hover {
	color: #fff;
}
.pre-intermediate {
	background: linear-gradient(#055EC6,  #695B7C);
	opacity: .7;
	color: #fff;
}
.pre-intermediate:hover {
	color: #fff;
}


.hvr-underline-from-center:before {
	background: #dd4b4b	!important;
}








/*
///////////////////////////////////////////////////////////////////////
*/







