{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
Elementary Grammar 7
{% endblock  %}


{% block content %}

<h2 class="title__title">
GRAMMAR
</h2>

<h3 class="title__title">
1	Complete the sentences with a, an, some, or any.
</h3>

<div class="col-md-11 space_text">	
<p>
Example:	We can’t have an omelette. There aren’t <soan class="uanderline_text">any</soan> eggs.
</p>
<p>
1 &emsp;	‘Can I have a sandwich, please?’  ‘Sorry. There isn’t __________ bread.’
</p>
<p>
2 &emsp;	‘I’m hungry.’  ‘Do you want __________ apple?’
</p>
<p>
3 &emsp;	‘I can make __________ pasta this evening.’
</p>
<p>
4 &emsp;	‘Are there __________ bananas?’  ‘No. I had the last one.’
</p>
<p>
5 &emsp;	‘I’m a vegetarian. I don’t want __________ meat.’
</p>
<p>
6 &emsp;	‘There are __________ apples in the fridge.’
</p>

</div>

<h3 class="title__title">
2	Underline the correct word or phrase.
</h3>

<div class="col-md-11 space_text">
<p>	
Example:	How <span class="uanderline_text"><strong>much</strong></span> / <strong>many</strong> coffee do you drink?
<p>
1 &emsp;	We don’t eat <strong>much</strong> / <strong>many</strong> bananas in our house.
</p>
<p>
2 &emsp;	I didn’t eat <strong>no</strong> / <strong>any</strong> cake. I wasn’t hungry.
</p>
<p>
3 &emsp;	She eats <strong>much</strong> / <strong>a lot of </strong> biscuits. She loves them.
</p>
<p>
4 &emsp;	Mark buys many / a lot of fruit. He’s very healthy.
</p>
<p>
5 &emsp;	I don’t have <strong>much</strong> / <strong>many</strong> free time. I work very hard.
</p>
<p>
6 &emsp;	‘How much chocolate do you eat?’  ‘<strong>A lot of / A lot.</strong>’
</p>

</div>

<h2 class="title__title">
3	Complete the email. Use the correct form of going to and the verb in brackets.
</h2>

<div class="col-md-11 space_text">
<div class="p__border_big_block">	
<p>Hi Tim</p>
<p>
How are you? Are you going to come (come) to my party next month? It 
1 __________ (be) really good fun. I want to have some great music, so I 
2 __________ (find) a good DJ. My parents 3 __________ (pay) for the food and drink. My sister 4 __________ (not be) there because she 5 __________ (travel) to Canada with a friend next week. Sorry! They 6 __________ (fly) to Montreal and then they 7 __________ (go) by train to Vancouver. It’s their dream holiday! They 
8 __________ (have) a fantastic time!
</p>
<p>
Hope you can come to the party!
</p>
<p>
Ben
</p>
</div>
</div>





{% endblock %}
	 	