{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
Elementary Grammar 6
{% endblock  %}


{% block content %}

<h2 class="title__title">
GRAMMAR
</h2>

<h3 class="title__title">
1	Complete the sentences.
</h3>

<div class="col-md-11 space_text">	
<p>
Example:	<span class="uanderline_text">Is</span> there a TV in my hotel room?
</p>
<p>
1 &emsp;	There __________ any wine, but there’s some water.
</p>
<p>
2 &emsp;	There __________ a good film on TV last night.
</p>
<p>
3 &emsp;	Are there __________ guests at the hotel?
</p>
<p>
4 &emsp;	There __________ any famous people at the party last week!
</p>
<p>
5 &emsp;	‘Were there any ghosts in your room?’  ‘No, there __________.’
</p>
<p>
6 &emsp;	‘__________ there a good restaurant?’  ‘Yes, there was.’
</p>

</div>

<h3 class="title__title">
2	Change the sentences. Use the verb in brackets.
</h3>

<div class="col-md-11 space_text">

<p>
Example:	The dog’s running. (bark)   <span class="uanderline_text">No, it isn’t. It’s barking.</span> 
</p>
<p>
1 &emsp;	The baby’s eating. (cry)
<p>
&emsp;&emsp; 	__________________________________________.
	</p>
</p>
<p>
2 &emsp;	They’re talking. (argue)
<p>
&emsp;&emsp; 	__________________________________________.
	</p>
</p>
<p>
3 &emsp;	She’s running. (walk)
<p>
&emsp;&emsp; 	__________________________________________.
	</p>
</p>
<p>
4 &emsp;	They’re cycling. (run)
<p>
&emsp;&emsp; 	__________________________________________.
	</p>
</p>
<p>
5 &emsp;	He’s drinking. (eat)
<p>
&emsp;&emsp; 	__________________________________________.
	</p>
</p>
<p>
6 &emsp;	He’s listening to music. (read the newspaper)
<p>
&emsp;&emsp; 	__________________________________________.
	</p>
</p>
<p>
7 &emsp;	They’re watching football. (play football)
<p>
&emsp;&emsp; 	__________________________________________.
</p>

</div>


<h3 class="title__title">
3	Complete the email. Use the present simple or present continuous form of the verb in brackets.
</h3>
<div class="col-md-11 space_text">

<div class="p__border_big_block">	
	<p>
Hi John
</p>
<p>
How are you? At the moment, I’m listening (listen) to music. I usually 1 __________ (listen) to music in the evenings. On Fridays, I sometimes 2 __________ (go) to the cinema with Suzie, but she 3 __________ (study) now. She 4 __________ (have) a lot of work. My cousin 5 __________ (stay) with us at the moment and he 
6 __________ (wait) for me downstairs. I 7 __________ (think) he wants to go to the pub.
</p>
<p>
See you soon
</p>
<p>
Robert
</p>
</div>
</div>




{% endblock %}