{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
Elementary Grammar 1
{% endblock %}

{% block content %}
<div class="col-md1">
    <h2>
        GRAMMAR  1
    </h2>
</div>
<h3>
    1   Complete the sentences. Use contractions where possible.
</h3>
<div class="col-md-11">
<p class="space_text">
    Example:    We’re from Italy. <br> <br> 
    1   &emsp;__________ he a student? <br>
    2   &emsp;We __________ English. We’re Scottish. <br>
    3   &emsp;‘Is he in Class 4?’  ‘No, he __________.’ <br>
    4   &emsp;‘Is Marta Spanish?’  ‘Yes, __________ is.’ <br>
    5   &emsp;This __________ Chinese food. It’s Japanese. <br>
    6   &emsp;‘Where __________ you from?’  ‘I’m from Poland.’ <br>
    7   &emsp;‘Are they teachers?’  ‘No, they __________.’ <br>
    8   &emsp;‘I __________ Russian. I’m from Moscow.’
</p>

</div>

<h3>
2   Complete the sentences with the correct word.
</h3>
<div class="col-md-11"> 
<p class="space_text">
    Example:    I’m American. My family is from New York. <br>
    &emsp;&emsp;My   Your   Their<br><br>
    1   &emsp;They’re students. __________ names are James and Marta.<br> 
    &emsp;&emsp;His   Her   Their<br>  
    2   &emsp;Carlo’s Italian, but __________ mother is British.<br>  
    &emsp;&emsp;his   her   she <br>
    3   &emsp;It’s a school. __________ name is The English School. <br> 
    &emsp;&emsp;His   Her   Its <br>
    4   &emsp;We’re students. __________ teacher is American.  <br> 
    &emsp;&emsp;Their   Our   Your <br>
    5   &emsp;This is our director. __________ name is Mark. <br> 
    &emsp;&emsp;His   Her   He <br>
    6   &emsp;Sally, please open __________ book.<br> 
    &emsp;&emsp;you   your   you’re
</p>
</div>  


<h3>
    3   Underline the correct word.
</h3>
<div class="col-md-11">
<p class="space_text">
    Example:    It’s a / an identity card. <br> <br>
    1   &emsp;They’re watches / watchs. <br>
    2   &emsp;What’s this / these? It’s an umbrella. <br>
    3   &emsp;Open a / the door. <br>
    4   &emsp;Those / That students are French. <br>
    5   &emsp;The students are from different countrys / countries. <br>
    6   &emsp;This is a / an international school.
</p>
</div>



{% endblock %}