{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
Elementary Grammar 8
{% endblock  %}


{% block content %}

<h2 class="title__title">
GRAMMAR
</h2>
<h3 class="title__title">
1	Complete the sentences with the comparative or superlative form of the adjective in brackets.
</h3>

<div class="col-md-11 space_text">
<p>
Example:	Your car is <span class="uanderline_text">more expensive</span> (expensive) than mine.
</p>
<p>
1 &emsp;	I’m the _______________ (happy) person in the world!
</p>
<p>
2 &emsp;	She’s the _______________ (good) swimmer in the class.
</p>
<p>
3 &emsp;	It’s _______________ (hot) in Italy than in Norway.
</p>
<p>
4 &emsp;	Winter is the _______________ (dangerous) time of the year for some animals.
</p>
<p>
5 &emsp;	This year’s work is _______________ (hard) than last year’s work.
</p>
<p>
6 &emsp;	I’m _______________ (young) than my sister.
</p>
<p>
7 &emsp;	Tim’s the _______________ (bad) football player I know.
</p>
<p>
8 &emsp;	I think the mountains are _______________ (beautiful) than the beach.
</p>

</div>

<h3 class="title__title">
2	Complete the sentences with do, don’t, would, or wouldn’t.
</h3>

<div class="col-md-11 space_text">
<p>
Example:	<span class="uanderline_text">Do</span> you like fish?
</p>
<p>
1 &emsp;	I __________ like to go to China one day.
</p>
<p>
2 &emsp;	‘Would you like to dance?’  ‘No! I __________ like this music.’
</p>
<p>
3 &emsp;	‘Would you like some lunch?’  ‘Yes, I __________.’
</p>
<p>
4 &emsp;	I __________ like to go to Australia. I don’t like flying.
</p>
<p>
5 &emsp;	‘Would you like to do a parachute jump?’  ‘No, I __________. It’s very dangerous.’
</p>
<p>
6 &emsp;	__________ you like shopping for clothes?
</p>

</div>

<h3 class="title__title">
3	Complete the sentences with the correct form of an adjective or an adverb from the box.
</h3>


<div class="col-md-11 space_text">
<div class="p__border_tithout_padding" style="width: 430px">	
<p>
beautiful   careful   hard   healthy   perfect   safe   <s>slow</s>
</p>
<p>
</div>
Example:	I don’t understand you. Please speak <span class="uanderline_text">slowly</span>.
</p>
<p>
1 &emsp;	He worked __________ and passed the exam.
</p>
<p>
2 &emsp;	She doesn’t eat __________. She has too much fast food.
</p>
<p>
3 &emsp;	Don’t walk home. It isn’t __________ here at night.
</p>
<p>
4 &emsp;	It’s raining. Please drive __________.
</p>
<p>
5 &emsp;	That’s a __________ dress. Where did you buy it? 
</p>
<p>
6 &emsp;	They speak English __________. Their mother is from Cambridge.
</p>



</div>



{% endblock %}