{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
Elementary Grammar 2
{% endblock  %}


{% block content %}


<h2 class="title__title">
GRAMMAR
</h2>

<h3 class="title__title">
1	Complete the sentences with the correct form of the verb in brackets.
</h3>


<div class="col-md-11 space_text">
<p>
Example:	She lives (live) in a house.
</p>
<p>
1 &emsp;	They _______________ (not have) children.
</p>
<p>
2 &emsp;	I _______________ (work) in a school.
</p>
<p>
3 &emsp;	The pub _______________ (close) at 11.00 p.m.
</p>
<p>
4 &emsp;	She _______________ (not like) coffee.
</p>
<p>
5 &emsp;	We _______________ (speak) English and Italian.
</p>
<p>
6 &emsp;	You _______________ (study) at the university.
</p>
<p>
7 &emsp;	My mother _______________ (drive) a nice car.
</p>
<p>
8 &emsp;	Juan _______________ (not play) computer games.
</p>
</div>

<h3 class="title__title">
2	Complete the sentences with one word.
</h3>

<div class="col-md-11 space_text">
<p>
Example:	Do you like Mexican food?
</p>
<p>
1 &emsp;	__________ they live in France?
</p>
<p>
2 &emsp;	__________ your father work in a restaurant? 
</p>
<p>
3 &emsp;	How old __________ your brother?
</p>
<p>
4 &emsp;	We __________ live in a house. We live in a flat.
</p>
<p>
5 &emsp;	What __________ your father do?
</p>
<p>
6 &emsp;	Is your brother __________ actor?
</p>

</div>

<h3 class="title__title">
3	Underline the correct word or phrase.
</h3>
<div class="col-md-11 space_text">
<p>
Example:	This is my brothers’ / brother’s wife.
</p>
<p>
1 &emsp;	It’s Ben’s / the Ben’s pen.
</p>
<p>
2 &emsp;	These are my childrens’ / children’s books.
</p>
<p>
3 &emsp;	I like the film’s end / end of the film.
</p>
<p>
4 &emsp;	That’s my parents’ / parent’s car.
</p>
<p>
5 &emsp;	I don’t like Charles’s / Charle’s brother.
</p>
<p>
6 &emsp;	He’s my teachers’ / teacher’s husband.
</p>

</div>




{% endblock %}