{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
Elementary Grammar 3
{% endblock  %}


{% block content %}
<h2 class="title__title">
GRAMMAR
</h2>

<h3 class="title__title">
1	Underline the correct phrase.
</h3>


<div class="col-md-11 space_text">
<p>
Example:	I like <span class="uanderline_text">American music</span> / music American.
</p>
<p>
1 &emsp; It’s a fantastic film / film fantastic.
</p>
<p>
2 &emsp; I often go / go often to the cinema.
</p>
<p>
3 &emsp; She drinks never / never drinks beer.
</p>
<p>
4 &emsp; He has a car new / new car.
</p>
<p>
5 &emsp; That’s a mobile expensive / an expensive mobile.
</p>
<p>
6 &emsp; They always are / are always late.
</p>
<p>
7 &emsp; Do you like French food / food French?
</p>
<p>
8 &emsp; Always I have / I always have breakfast.
</p>
</div>

<h3 class="title__title">
2	Write the times.
</h3>

<div class="col-md-11 space_text">
<p>
Example:	2.45   <span class="uanderline_text">It’s quarter to three.</span>
</p>
<p>
1 &emsp;	6.30	___________________________.
</p>
<p>
2 &emsp;	8.20	___________________________.
</p>
<p>
3 &emsp;	12.15	___________________________.
</p>
<p>
4 &emsp;	9.00	___________________________.
</p>
<p>
5 &emsp;	10.50	___________________________.
</p>

</div>

<h3 class="title__title">
3	Complete the sentences.
</h3>
<div class="col-md-11 space_text">
	<p>
Example:	Her birthday is <span class="uanderline_text">on</span> 8 July.
</p>
<p>
1 &emsp;	I often play football __________ the weekend.
</p>
<p>
2 &emsp;	The shop closes __________ the evening.
</p>
<p>
3 &emsp;	My new job starts __________ Monday morning.
</p>
<p>
4 &emsp;	I often have pizza ___________ lunchtime.
</p>
<p>
5 &emsp;	Her party is __________ Saturday.
</p>
<p>
6 &emsp;	The class starts __________ nine o’clock.
</p>
<p>
7 &emsp;	It’s very cold __________ December.
</p>
</div>


{% endblock %}