{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
Elementary Grammar 2
{% endblock  %}


{% block content %}

<h2 class="title__title">
GRAMMAR
</h2>

<h3 class="title__title">
1	<span class="uanderline_text">Underline</span> the correct words.
</h3>

<div class="col-md-11 space_text">
<p>
Example:	We was / <span class="uanderline_text">were</span> in Paris yesterday.
</p>
<p>
1 &emsp;	Where was / were Jack this morning?
</p>
<p>
2 &emsp;	Yesterday was / were Friday.
</p>
<p>
3 &emsp;	I wasn’t / weren’t at work today.
</p>
<p>
4 &emsp;	Did / Were James and Sue at school yesterday?
</p>
<p>
5 &emsp;	Where were you / did you go last night?
</p>
<p>
6 &emsp;	The shops wasn’t / weren’t open today.
</p>

</div>


<h3 class="title__title">
2	Complete the sentences. Use the past simple form of the verb in brackets.
</h3>

<div class="col-md-11 space_text">
<p>
Example:	We <span class="uanderline_text">worked</span> (work) hard yesterday.
<p>
1 &emsp;	I __________ (study) for three hours last night.
</p>
<p>
2 &emsp;	When __________ the party __________ (finish) last night?
</p>
<p>
3 &emsp;	She __________ (not like) the food in the restaurant.
</p>
<p>
4 &emsp;	__________ you __________ (watch) that film last night?
</p>
<p>
5 &emsp;	My grandparents __________ (live) in Australia. Now they live in Poland.
</p>
<p>
6 &emsp;	The nightclub __________ (not close) until 3 a.m.
</p>
<p>
7 &emsp;	We __________ (not smoke) because it was a non-smoking restaurant.
</p>
<p>
8 &emsp;	What time __________ they __________ (arrive) yesterday?
</p>

</div>


<h3 class="title__title">
3	Complete the conversation.
</h3>


<div class="col-md-11 space_text">
<p>
<strong>Sue</strong> &emsp; Where did you and Bob go yesterday?
</p>
<p>
<strong>Anne</strong> &emsp; We <span class="uanderline_text">went</span> to a restaurant.
</p>
<p>
<strong>Sue</strong> &emsp;	Did you go by car?
</p>
<p>
<strong>Anne</strong> &emsp;	No, we 1 __________. We went by taxi.
</p>
<p>
<strong>Sue</strong> &emsp;	What did you wear?
</p>
<p>
<strong>Anne</strong> &emsp;	I 2 __________ my blue dress.
</p>
<p>
<strong>Sue</strong> &emsp;	What did you have to eat?
</p>
<p>
<strong>Anne</strong> &emsp;	I 3 __________ steak and chips.
</p>
<p>
<strong>Sue</strong> &emsp;	What time did you leave the restaurant?
</p>
<p>
<strong>Anne</strong> &emsp;	We 4 __________ at nine o’clock.
</p>
<p>
<strong>Sue</strong> &emsp;	Did you go to the cinema after that?
</p>
<p>
<strong>Anne</strong> &emsp;	Yes. We 5 __________ a fantastic film.
</p>
<p>
<strong>Sue</strong> &emsp; What time did you get home?
</p>
<p>
<strong>Anne</strong> &emsp;	We didn’t 6 __________ home until twelve o’clock.
</p>

</div>




{% endblock %}