{% extends 'school/base_school.html' %}
{% load static %}

{% block title %}
    Elementary Text One
{% endblock %}

{% block content %}



    <audio controls>
    <source src="{% static 'media/audio/02 File 1 L1.mp3' %}" type="audio/ogg; codecs=vorbis">
    <source src="{% static 'media/audio/02 File 1 L1.mp3' %}" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
    <a href="{% static 'media/audio/02 File 1 L1.mp3' %}">Скачайте музыку</a>.
  </audio>

<h3>LISTENING  1</h3>

<div class="col-md-10">
<h5>
1	Listen to Ana talking to the receptionist. Put a tick (&#10003;) if the information is <br> &ensp;correct. Put a cross (X) if the information is incorrect.
</h5>

<p>
1	First name	Ana 
</p>
<p>
2	Surname	Caravalho  
</p>   
<p>
3	Age	17 
</p>   
<p>
4	Address	Rua da Palho 34   
</p>   
<p class="space_text">
5	Phone number	01-342-16-95      
</p>
</div>
    <audio controls>
    <source src="{% static 'media/audio/03 File 1 L2.mp3' %}" type="audio/ogg; codecs=vorbis">
    <source src="{% static 'media/audio/03 File 1 L2.mp3' %}" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером. 
    <a href="{% static 'media/audio/03 File 1 L2.mp3' %}">Скачайте музыку</a>.
  </audio>
<h5>
2	Listen to five conversations. Tick (&#10003;) the correct sentence.
</h5>
<div class="col-md-10">
<p>
1	A	Paul and Tom are friends <br>      
	&emsp;B	Tom and Sarah are friends.      
</p>
<p>
2	A	It’s Sarah Loos. <br>      
	&emsp;B	It’s Sarah Lows.    
</p>
<p>
3	A	Sarah is Scottish. <br>     
	&emsp;B	Sarah is Irish.      
</p>
<p>
4	A	Sarah’s email address is spl32@hotmail.com <br>     
	&emsp;B	Sarah’s email address is spl22@hotmail.com      
</p>
<p class="space_text">
5	A	Tomorrow is Friday. <br>     
	&emsp;B	Tomorrow is Saturday.      
</p>
</div>


{% endblock %}